ul {
    list-style: none;
}

.my-bell-color {
    color: #ff8e00;
}

.my-bell-btn {
    border: none;
    background: none;
}

.my-bg-grey {
    background-color: #e5e5e5;
}

header.left {
    background-color: #051e34;
    color: white;
    height: calc(100vh - 56px);
    background-image: url(../img/sidebar-bg.png);
}

.my-bg-azzurro {
    background-color: #1b72e8;
    color: white;
}

div #breadcrumbs p {
    background-color: #1652a59f;
    margin-right: .2rem;
    padding: 0 .5rem .2rem .5rem;
    border-radius: 16px;
    font-size: .8rem;
}