ul {
    list-style: none;
}

.my-bell-color {
    color: #ff8e00;
}

.my-bell-btn {
    border: none;
    background: none;
}

.my-bg-grey {
    background-color: #e5e5e5;
}

header.left {
    background-color: #051e34;
    color: white;
    height: calc(100vh - 58.5px);
    background-image: url(../img/sidebar-bg.png);
}