ul {
    list-style: none;
}

.my-bell-color {
    color: #ff8e00;
}

.my-bell-btn {
    border: none;
    background: none;
}

.my-bg-grey {
    background-color: #e5e5e5;
}

header.left {
    background-color: #051e34;
    color: white;
    height: calc(100vh - 56px);
    background-image: url(../img/sidebar-bg.png);
}

.my-bg-azzurro {
    background-color: #1b72e8;
    color: white;
}

main {
    width: 100%;
    height: calc(100vh - 56px);
    overflow: scroll;
}

div #breadcrumbs p {
    background-color: #1652a59f;
    margin-right: .2rem;
    padding: 0 .5rem .2rem .5rem;
    border-radius: 16px;
    font-size: .8rem;
}

main td img {
    width: 1.7rem;
    margin-right: .8rem;
}

table {
    font-size: .8rem;
}

table .my-label-green {
    background-color: #198754;
    border-radius: 5px;
    color: white;
    padding: 0 .3rem .1rem .3rem;
    font-size: .6rem;
}

table .my-label-red {
    background-color: #dc3545;
    border-radius: 5px;
    color: white;
    padding: 0 .3rem .1rem .3rem;
    font-size: .6rem;
}

table .my-label-yellow {
    background-color: #ffc007;
    border-radius: 5px;
    color: white;
    padding: 0 .3rem .1rem .3rem;
    font-size: .6rem;
}

td .btn {
    font-size: .8rem;
    height: 1.5rem;
    width: 1rem;
    position: relative;
}


td i {
    position: absolute;
    top: 5px;
    left: 7px;
}

#offcanvasExample {
    width: 100%;
}


header.left li:hover {
    background-color: rgba(255, 255, 255, 0.521);
    cursor: pointer;
}

header.left div:hover {
    cursor: pointer;
}


@media screen and (min-width: 992px) {
    #offcanvasExample {
        width: 50%;
    }
}